{% extends "account/allauth_base.html" %}
{% load i18n %}
{% load allauth account %}

{% block inner_content %}

<h1 class="text-center">{% trans "Confirm Email Address" %}</h1>

{% if confirmation %}
{% user_display confirmation.email_address.user as user_display %}
{% if can_confirm %}
<p>
    {% blocktrans with confirmation.email_address.email as email %}
    Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an email address for user {{ user_display }}.
    {% endblocktrans %}
</p>
<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
    {% csrf_token %}
    {{ redirect_field }}
    <button type="submit" class="btn btn-primary w-100 py-2 mt-4">
        {% trans 'Confirm' %}
    </button>
</form>
{% else %}
<p>
    {% blocktrans %}Unable to confirm {{ email }} because it is already confirmed by a different account.{%
    endblocktrans %}
</p>
{% endif %}
{% else %}
<p>
    {% blocktrans %}This email confirmation link expired or is invalid. Please <a href="{% url 'account_email' %}">issue
        a new email confirmation request</a>.{% endblocktrans %}
</p>
{% endif %}

{% endblock inner_content %}