{% extends "account/allauth_base.html" %}
{% load allauth i18n %}
{% load crispy_forms_tags %}

{% block inner_content %}

<h1 class="text-center">{% trans "Change Password" %}</h1>
<form method="post" action="{% url 'account_change_password' %}">
    {% csrf_token %}
    {{ redirect_field }}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary w-100 py-2 mt-4">{% trans "Change Password" %}</button>
    <a class="form-links" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</form>

{% endblock inner_content %}