html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

h3::before {
    content: ' « ';
}

h3::after {
    content: ' » ';
}

h3 {
    margin: 15px;
    text-transform: uppercase;
    text-align: center;
}



.section1 {
    
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
     /* Creates 2 columns of equal width */
    gap: 20px; /* Adds space between images */
    margin: 25px;
    
}

.section1 h3
 {
    color: #373e5b;;
}

.section1 a {
    text-decoration: none;
    background-color: #EDE7E0;
}

.section1 img {
    
    width: 300px;
    height: 350px;
    border-radius: 10px 10px 0 0;
    margin: 10px;
}

.title-homepage h1{
    text-align: center;
    color: #373e5b;
    margin: 20px;
    
}
.icons-emoji {
    background-color: #EDE7E0;

    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}

.icons-emoji:hover {
    box-shadow: 0.5rem 0.5rem rgb(94, 93, 93);
    transition: 0.3s;
}


.icons-emoji img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:10px;
    background-color:#EDE7E0;
}

footer {
    Background-color: #F8F9FA;
    padding:16px;
    
}


footer a{
    text-decoration:none; 
    color: #575757;
    
}