<!-- THIS IS THE USERS PROFILE PAGE, THEY CAN SEE WHO THEIR CARER IS AND OTHER DETAILS -->

{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="text-center mt-3">
    <h1 data-bs-toggle="tooltip" title="Welcome, {{ user.first_name }} {{ user.last_name }}">
        Welcome, {{ user.first_name }} {{ user.last_name }}
    </h1>
    <form method="POST" action="{% url 'account_logout' %}" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger btn-sm mt-3" data-bs-toggle="tooltip"
            title="Log out of your account">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                <path fill="currentColor"
                    d="M5 22a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v3h-2V4H6v16h12v-2h2v3a1 1 0 0 1-1 1zm13-6v-3h-7v-2h7V8l5 4z" />
            </svg>
        </button>
    </form>
    <div class="text-center mt-3">
        {% if user_profile.caregiver %}
        <p data-bs-toggle="tooltip" title="Your assigned caregiver's name">Your assigned caregiver is: {{
            user_profile.caregiver.name }}</p>
        {% else %}
        <p data-bs-toggle="tooltip" title="No caregiver has been assigned to your profile">No caregiver assigned.</p>
        {% endif %}
    </div>
    <div>
        <a href="{% url 'index' %}" class="btn home-btn" data-bs-toggle="tooltip" title="Return to the homepage">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24">
                <path fill="currentColor" d="M6 19h3v-6h6v6h3v-9l-6-4.5L6 10zm-2 2V9l8-6l8 6v12h-7v-6h-2v6zm8-8.75" />
            </svg>
        </a>
    </div>
</div>
{% endblock content %}