<!--THIS IS THE USERS PROFILE PAGE, THEY CAN SEE WHO THEIR CARER IS AND OTHER DETAILS-->

{% extends "base.html" %}

{% block content %}
<!-- Code in this block -->
<h1>End-User Profile</h1>

<div class="text-center mt-3">
    <h2>Welcome, {{ user.first_name }} {{ user.last_name }}</h2>
    <form method="POST" action="{% url 'account_logout' %}" class="d-inline">
        {% csrf_token %}
        <button type="submit" class="btn btn-outline-danger btn-sm">Log Out</button>
    </form>
    <div class="text-center mt-3">
        {% if user_profile.caregiver %}
        <p>Your assigned caregiver is: {{ user_profile.caregiver.name }}</p>
        {% else %}
        <p>No caregiver assigned.</p>
        {% endif %}
    </div>
    <div>
        <a href="{% url 'index' %}" class="btn btn-primary">
            Return to Home
        </a>
    </div>
</div>
{% endblock content %}