{% extends "allauth/account/base_entrance.html" %}
{% load i18n %}
{% load account %}

{% block inner_content %}

<h1>{% trans "Sign In" %}</h1>

{% if not SOCIALACCOUNT_ONLY %}
<p>
    Don’t have an account? Then please <a href="{% url 'register' %}">sign up</a>.
</p>

{% url 'account_login' as login_url %}
<form method="post" action="{{ login_url }}">
    {% csrf_token %}
    {{ form.as_p }}
    {{ redirect_field }}
    <button type="submit">{% trans "Sign In" %}</button>
</form>
{% endif %}

{% if LOGIN_BY_CODE_ENABLED or PASSKEY_LOGIN_ENABLED %}
<hr>
{% if PASSKEY_LOGIN_ENABLED %}
<button type="button" id="passkey_login">{% trans "Sign in with a passkey" %}</button>
{% endif %}
{% if LOGIN_BY_CODE_ENABLED %}
<a href="{{ request_login_code_url }}" class="btn btn-outline-primary">
    {% trans "Mail me a sign-in code" %}
</a>
{% endif %}
{% endif %}

{% if SOCIALACCOUNT_ENABLED %}
{% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
{% endif %}

{% endblock inner_content %}