<!--BASE TEMPLATE, INCLUDES HEADER ELEMENTS, NAV AND FOOTER. -->

<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Axis of Access</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Iconic</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'user_profile' %}">User Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'caregiver_profile' %}">Caregiver Profile</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_login' %}">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <h1>Base template</h1>
    

  {% block content %}
  {% endblock %}
  </main>
  
  <footer bg-body-tertiary>
    <div class="container text-center ">
      <div class="row">
        <div class="col">
          <a href="https://github.com/olliesharp5">Oliver</a>
        </div>
        <div class="col">
          <a href="https://github.com/SebZG ">Sebastien</a>
        </div>
        <div class="col">
          <a href="https://github.com/LlewBach">Llew</a>
        </div>
        <div class="col">
          <a href="https://github.com/aslinedvinsson">Ann</a>
        </div>
        
        <div class="col">
          <a href="https://github.com/BadrAlioui">Badr</a>
        </div>
        <div class="col">
        <a href="https://github.com/farhatamannaislam">Farhatamannaislam</a>
        </div>
        <div class="col">
        <a href="https://github.com/AshLaw96 ">Ashley</a>
        </div>
    </div>
    
  </footer>

  <!-- Bootstrap script -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>