<!--THIS TEMPLATE SHOULD CONTAIN THE STRUCTURE OF THE MAIN PAGE THAT DISPLAYS THE ACRDS THAT THE USER CLICKS-->

{% extends "base.html" %}

{% block content %}
<!-- Code in this block -->
 {% load static %}
 <div class="text-center title-homepage">
    <h1>Welcome to the Index Page!</h1>
 </div>


<section class="section1">
           
    <div class="icons-emoji">
        <h3>Sport</h3>
        <a href="#" target="_blank">
            <div class="square">

                <img src="/static/medias/basketball.png"
                    alt="picture of basketball">
                <img src="/static/medias/bike.png"
                    alt="picture of bike">
                <img src="/static/medias/hiking.png"alt="picture of kiking">
                <img src="/static/medias/swim.png"alt="picture of kiking">
                    



            </div>
            
        </a>
    </div>
    <div class="icons-emoji">
        <h3>Emotions</h3>
        <a href="#">
            <div class="square">
                <img src="/static/medias/HealthiconsAngry.png"
                    alt="picture of movie">
                <img src="/static/medias/suprise.png"
                    alt="picture of suprise">
                <img src="/static/medias/HealthiconsHappyOutline.png"
                    alt="picture of happy">
                <img src="/static/medias/HealthiconsLoudlyCrying.png"
                    alt="picture of cry">

            </div>
            
        </a>

    </div>
    <div class="icons-emoji">
        <h3>Hygiene</h3>
        <a href="#">
            <div class="square">
                <img src="/static/medias/shower.png"
                    alt="picture of shower">
                <img src="/static/medias/toilet.png"
                    alt="picture of toilet">
                <img src="/static/medias/wash_hand.png"
                    alt="picture of wash hand">
                <img src="/static/medias/spray.png"
                    alt="picture of spray">

            </div>
            
        </a>

    </div>
    <div class="icons-emoji">
        <h3>Transport</h3>
        <a href="#">
            <div class="square">
                <img src="/static/medias/bus.png"
                    alt="picture of bus">
                <img src="/static/medias/car.png"
                    alt="picture of car">
                <img src="/static/medias/train.png"
                    alt="picture of train">
                <img src="/static/medias/WpfAirplaneTakeoff.png"
                    alt="picture of plane">

            </div>
            
        </a>

    </div>
    <div class="icons-emoji">
        <h3>Medical</h3>
        <a href="#">
            <div class="square">
                <img src="/static/medias/nurse.png"
                    alt="picture of nurse">
                <img src="/static/medias/hospital.png"
                    alt="picture of hospital">
                <img src="/static/medias/tablets.png"
                    alt="picture of tablets">
                <img src="/static/medias/truck_medical.png"
                    alt="picture of truck">

            </div>
            
        </a>

    </div>
    <div class="icons-emoji">
        <h3>favorite</h3>
        <a href="#">
            <div class="square">
                <img src="/static/medias/heart.png"
                    alt="picture of heart">
                <img src="/static/medias/star.png"
                    alt="picture of star">

            </div>
            
        </a>

    </div>
</section>
{% endblock %}

