{% extends "base.html" %}

{% load static %}
{% block content %}
<div class="container py-4 position-relative {% if not user.is_authenticated %}unauthenticated-background{% endif %}">
    <!-- Unauthenticated Overlay -->
    {% if not user.is_authenticated %}
    <div class="unauthenticated-overlay d-flex flex-column justify-content-center align-items-center text-center">
        <h2 class="text-white mb-1">Welcome to ICONic Needs!</h2>
        <p class="text-white mb-5 w-50">
            Discover a platform designed for easy communication. Log in or sign up to explore more.
        </p>
        <div>
            <a href="{% url 'account_login' %}" class="btn landing-login me-3">Log In</a>
            <a href="{% url 'register' %}" class="btn landing-register">Register</a>
        </div>
    </div>
    {% endif %}

    <!-- Main content -->
    {% if user.is_authenticated %}
    <!-- Show caregiver message -->
    {% if user.userprofile.role == "CG" %}
    <div class="alert alert-warning text-center my-3">
        You are currently logged in as a caregiver. You will be unable to interact with the icons below.
        You can manage the icons displayed to the end user in your profile page.
    </div>
    {% endif %}

    <!-- Favorites Button -->
    <div class="text-center mb-1 mt-4">
    <button type="button" class="btn fave-btn" data-bs-toggle="modal" data-bs-target="#favoritesModal">
        <i class="fas fa-star"></i> Add to Favorites
    </button>
</div>


    <!-- Groups Section -->
    {% if groups %}
    <div class="mb-4">
        <h2>Groups</h2>
        <div class="row">
            {% for group in groups %}
            <div class="col-md-3 mb-3">
                <button class="btn group-btn w-100" data-bs-toggle="modal" data-bs-target="#groupModal-{{ group.id }}">
                    {{ group.name }}
                </button>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <!-- Icons Section -->
    <div class="row flex-wrap justify-content-center">
        {% for icon in icons %}
        <div class="icons-wrapper col-6 col-sm-6 col-md-3 my-3"
            {% if user.is_authenticated and user.userprofile.role == "EU" %} onclick="iconClicked(this)" {% endif %}
            data-icon-id="{{ icon.id }}">
            <button class="icon-tile btn" {% if user.is_authenticated and user.userprofile.role == "EU" %} type="button"
                {% else %} disabled {% endif %}>
                <img src="{{ icon.image.url }}" alt="{{ icon.name }}" class="img-fluid">
                <p class="mt-3">{{ icon.name }}</p>
            </button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>

<!-- Include Modals -->
{% include "communication/index_modals.html" %}

{% endblock %}